@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-color: teal;
}

html {
  background-color: #111 !important;
}

body {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  background-color: #efefef;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--main-color);
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: #111;
  text-align: center;
}

.tags {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  color: var(--main-color);
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flexRowBetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
}

.flexCol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* masonry style css */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

/* Fab Button */
.rtf--mb {
  z-index: 500 !important;
}

.rtf.closed {
  z-index: 500 !important;
}

/* MUI stuff */
.MuiSelect-icon {
  color: var(--main-color) !important;
}

.MuiInput-underline::before {
  border-bottom: 1px solid var(--main-color) !important;
}

/* carousel */
.carousel-root {
  height: 100% !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .fab {
    display: none;
  }
}
